:root {
    --color-text-blue: rgb(49, 80, 114);
    --color-text-blue-traslucient: rgba(49, 80, 114, .5);
    --color-text-orange: rgb(250, 213, 82);
    --color-text-orange-traslucient: rgba(250, 213, 82, .5);
    --color-background-header: #033268;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: serif;
    font-size: 16px;
}

/* color de fondo y color de texto para el header */

.header {
    background-color: var(--color-text-blue-traslucient);
    color: var(--color-text-orange);
}

/* propiedades generales de section */

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

section h1 {
    font-size: 24px;
}

/* div encima de fondo para cargarle algo mas de color */

.opacity_blue {
    width: 100%;
    height: 100%;
    background-color: var(--color-text-blue-traslucient);
    /* background-color: transparent; */
}

/* ------------- z index --------------- */

section:nth-child(2n) {
    color: var(--color-text-blue);
    z-index: 3;
}

section:nth-child(2n+1) .background {
    color: var(--color-text-orange);
    z-index: 1;
}