:root {
    --color-text-blue: rgb(49, 80, 114);
    --color-text-blue-traslucient-5: rgba(49, 80, 114, .5);
    --color-text-blue-traslucient-8: rgba(49, 80, 114, .8);
    --color-text-orange: rgb(250, 213, 82);
    --color-text-orange-traslucient-5: rgba(250, 213, 82, .5);
    --color-text-orange-traslucient-2: rgba(250, 213, 82, .2);
    --color-background-header: #033268;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 4;
    /* display: none; */
}

.nav_bar {
    height: inherit;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}



.logo_home {
    background-image: url('../resources/images/header/logocjcb_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.logo_home .pantalla {
    width: 100%;
    height: 100%;
    /* background-color: var(--color-text-blue-traslucient-4); */
    
}

.logo_home .pantalla:hover {
    /* background-color: transparent; */
    cursor: pointer;
}

.nav_bar .item_nav {
    margin: auto 0px;
}

.nav_menu ul {
    margin: auto auto;
    /* border: 1px solid green; */
    list-style-type: none;
}

.nav_menu ul li {
    display: inline-flex;
    margin: 4px;
    padding: 0px 4px;
    border-radius: 6px;
    /* border: 1px solid red; */
}

.nav_menu ul li a:link,
.nav_menu ul li a:visited
 {
    text-decoration: none;
    color: var(--color-text-orange);
}

.nav_menu ul li:hover
 {
    /* background-color: var(--color-text-blue-traslucient-8); */
    background-color: var(--color-text-orange-traslucient-2);
}

.nav_menu ul li:nth-child(1){
    display: none;
}

@media screen and (max-width: 720px){

    .logo_home {
        height: 70px;
        width: 70px;
    }

    .header {
        height: 100px;
        position: relative;
        background-color: #033268;
    }

    .nav_menu ul li {
        display: block;
    }

}
