.header {
    background-color: rgba(49,80,114,.9);
    width: 100%;
    height: 60px;
    color: rgb(250, 213, 82);
}

.nav_bar {
    height: inherit;
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.logo_home {
    background-image: url('../resources/images/header/logocjcb_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 90%;
}

.nav_menu {
    margin: auto 0px;
}

.nav_menu ul {
    list-style-type: none;
}

.nav_menu ul li {
    display: inline-flex;
    margin: 4px;
}

@media screen and (max-width: 620px){

}