/* interest tambien es un section */

.interests {
    background-image: url('../resources/images/sections/banner_orange.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 2px 2px #282828, 0px -2px 2px 2px #282828;
    width: 100vw;
    height: auto;
    position: relative;
    overflow: auto;
}

.interests .marco {
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid black; */
}

/* --------- layout de texto ---------------- */

.interests_description {
    width: 38%;
    display: table;
    height: inherit;
    /* border: 1px solid green; */
}

.interests_description h1 {
    text-align: center;
}

.interests_description .content {
    /* background-color: chartreuse; */
    margin: auto 2px;
    display: table-cell;
    vertical-align: middle;
}

p {
    text-align: justify;
}


/* ----------- layout de imagenes ----------- */
.interest_item {
    margin: 0px 0px;
    padding: 0px 0px;
}

.interests_images {
    width: 57%;
    /* border: 1px solid red; */
}

.interests_images .row {
    margin: 0px 0px;
    padding: 0px 0px;
    height: 50%;
    /* border: 1px solid green; */
}

.interests_images .col {
    margin: 2px;
    padding: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-property: box-shadow;
    transition-duration: .2s;
}

.interests_images .row_1 .col:nth-child(1) {
    border-radius: 20px 0px 0px 0px;
    background-image: url('../resources/images/temas/redes_de_datos.jpg');
}

.interests_images .row_1 .col:nth-child(2) {
    border-radius: 0px 20px 0px 0px;
    background-image: url('../resources/images/temas/smartphone.jfif');
}

.interests_images .row_2 .col:nth-child(1) {
    border-radius: 0px 0px 0px 20px;
    background-image: url('../resources/images/temas/inteligencia_artificial.jpg');
}

.interests_images .row_2 .col:nth-child(2) {
    border-radius: 0px 0px 20px 0px;
    background-image: url('../resources/images/temas/data_security.jpg');
}

.interests_images .col:hover {
    /* box-shadow: 1px 1px 6px var(--color-text-blue-traslucient-8), -1px -1px 6px var(--color-text-blue-traslucient-8); */
    box-shadow: 1px 1px 6px black, -1px -1px 6px black;
}

@media screen and (max-width: 720px){

    .interests .marco {
        /* width: 90%; */
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        overflow: auto;
    }

    .interests_description {
        width: 90%;
        height: initial;
        display: block;
    }

    .interests_images {
        width: 90%;
    }

    .interests_images .row .col {
        height: 100px;
    }

    /* .interests_images .row:nth-child(1) {
        display: none;
    } */

} 



