
.background {
    width: 100%;
    height: 100%;
    background-image: url('../resources/images/sliders/data_networks.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.opacity_blue {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}

.background div{
    margin: 0px auto;
    
}

.perfil_image {
    width: 200px;
    height: 200px;
    border: 2px solid orange;
    border-radius: 50%;
}

.perfil_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.greetings {
    text-align: center;
}

.greetings h1 {
    font-size: 3rem;
}

.greetings h3 {
    font-size: 2rem;
}


@media screen and (max-width: 620px){

    .header {
        height: 100px;
    }

    .nav_menu ul li {
        display: block;
    }

}