:root {
    --color-text-blue: rgb(49, 80, 114);
    --color-text-blue-traslucient-5: rgba(49, 80, 114, .5);
    --color-text-blue-traslucient-8: rgba(49, 80, 114, .8);
    --color-text-orange: rgb(250, 213, 82);
    --color-text-orange-traslucient-5: rgba(250, 213, 82, .5);
    --color-text-orange-traslucient-2: rgba(250, 213, 82, .2);
    --color-background-header: #033268;
}

header {
    animation-name: entrada;
    animation-duration: 2s;
}



@keyframes entrada{
    0% {
        transform: translate(0px,-60px);
    }
    100% {
        transform: translate(0px,0px);
    }
}

